<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>812716236277-4g2bc998v01u4sn6ubf0eds1tolk0ad5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.812716236277-4g2bc998v01u4sn6ubf0eds1tolk0ad5</string>
	<key>API_KEY</key>
	<string>AIzaSyCWWOoO08wVVHCQzX7-S92uhJpoHCOceOo</string>
	<key>GCM_SENDER_ID</key>
	<string>812716236277</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>cs329e.Group15Alpha</string>
	<key>PROJECT_ID</key>
	<string>group15-66613</string>
	<key>STORAGE_BUCKET</key>
	<string>group15-66613.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:812716236277:ios:67a822fab35631d0</string>
	<key>DATABASE_URL</key>
	<string>https://group15-66613.firebaseio.com</string>
</dict>
</plist>